@import "tailwindcss";

.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 15s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}